<%- include('header') %>

    <!-- mid-part start -->
    <div class="main-panel">
        <div class="contentright w-auto">
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-md-10">
                        <div class="d-flex">
                            <div class="tableheading ">
                                <h3>Fetch Shipment Rate</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="searchbox float-right">
                            <div class="form-group has-search">
                                <a href="/shipment" class="btn btn-dark mt-2">Back</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Start -->
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card position-relative p-3">
                            <div class="card-body">
                                <div class="row form-inline-custom">

                                    <div class="col-md-4">

                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">User Name:</label>
                                            <label class="col-md-7 detail_value">
                                                <%= shipmentDetail.user_name %>
                                            </label>
                                        </div>


                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Shipment Type:</label>
                                            <label class="col-md-7 detail_value font-weight-bold">
                                                <%= shipmentDetail.shipment_type %>
                                            </label>
                                        </div>


                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Commodity:</label>
                                            <label class="col-md-7 detail_value font-weight-bold">
                                                <%= `${shipmentDetail.commodity_name}(${shipmentDetail.quantity})` %>
                                            </label>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Created At:</label>
                                            <label class="col-md-7 detail_value">
                                                <%= shipmentDetail.created_at %>
                                            </label>
                                        </div>

                                    </div>

                                    <div class="col-md-5">
                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Source Address:</label>
                                            <label class="col-md-7 detail_value">
                                                <%= shipmentDetail.admin_address %>
                                            </label>
                                        </div>



                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Destination Address:</label>
                                            <label class="col-md-7 detail_value">
                                                <%= shipmentDetail.address %>
                                            </label>
                                        </div>

                                    </div>


                                </div>

                                <form class="pt-3" id="formData">
                                    <input type="hidden" name="_csrf" id="csrf" value="">
                                    <input type="hidden" id="id" value="<%= shipmentDetail.id%>">

                                    <div class="form-group col-sm-4">
                                        <label for="pLength">Parcel length(in inch):</label>
                                        <input type="text" class="form-control" id="pLength" name="pLength"
                                            placeholder="">
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <label for="pWidth">Parcel width(in inch):</label>
                                        <input type="text" class="form-control " id="pWidth" name="pWidth"
                                            placeholder="">
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <label for="pHeight">Parcel height(in inch):</label>
                                        <input type="text" class="form-control " id="pHeight" name="pHeight"
                                            placeholder="">
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <label for="pWeight">Parcel Weight(in gram):</label>
                                        <input type="text" class="form-control " id="pWeight" name="pWeight"
                                            placeholder="">
                                    </div>
                                    <div class="mt-3 col-md-12 pb-3">
                                        <button class="btn btn-success btn-block w-25 btn-xm m-auto" type="button"
                                            id="shipmentForm">Fetch
                                            Rate</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer section start -->
        <%- include('footer') %>

            <script>
                $("#formData").validate({
                    rules: {
                        "pLength": {

                            required: true,
                            minlength: 1,
                            maxlength: 10,
                            normalizer: function (value) {
                                return $.trim(value);
                            },
                            number: true
                        },
                        "pWidth": {
                            required: true,
                            minlength: 1,
                            maxlength: 10,
                            normalizer: function (value) {
                                return $.trim(value);
                            },
                            number: true

                        },
                        "pHeight": {
                            required: true,
                            minlength: 1,
                            maxlength: 10,
                            normalizer: function (value) {
                                return $.trim(value);
                            },
                            number: true

                        },
                        "pWeight": {
                            required: true,
                            minlength: 1,
                            maxlength: 8,
                            normalizer: function (value) {
                                return $.trim(value);
                            },
                            number: true
                        },
                    },
                    messages: {
                        "pLength": {

                            required: 'Please enter a number.',
                            minlength: 'Please enter at least 1 digit.',
                            maxlength: 'Please enter no more than 10 digits.',

                        },
                        "pWidth": {
                            required: 'Please enter a number.',
                            minlength: 'Please enter at least 1 digit.',
                            maxlength: 'Please enter no more than 10 digits.',
                        },
                        "pHeight": {
                            required: 'Please enter a number.',
                            minlength: 'Please enter at least 1 digit.',
                            maxlength: 'Please enter no more than 10 digits.',
                        },
                        "pWeight": {
                            required: 'Please enter a number.',
                            minlength: 'Please enter at least 1 digit.',
                            maxlength: 'Please enter no more than 5 digits.',
                        },
                    },
                });


                $('#shipmentForm').click(function () {

                    if ($('#formData').valid() === false) {
                        return false;
                    }

                    const id = $('#id').val()
                    console.log("id", id);
                    const formData = new FormData();
                    formData.append("p_length", $('#pLength').val().trim());
                    formData.append("p_width", $('#pWidth').val().trim());
                    formData.append("p_height", $('#pHeight').val().trim());
                    formData.append("p_weight", $('#pWeight').val().trim());
                    formData.append("rate_id", id)

                    $.ajax({
                        type: "post",
                        url: `/update-shipment-detail/${id}`,
                        data: formData,
                        dataType: 'JSON',
                        //    cache : false,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            $("#processImg").show();
                            $(".loaderShow").show();
                            // return false;
                        },
                        complete: function () {
                            $("#processImg").hide();
                            $(".loaderShow").hide();
                        },
                        success: function (response) {
                            console.log("responsessssssssss", response);
                            if (response.status == "success") {
                                toastr.remove();
                                toastr.success(response.message);
                                window.setTimeout(function () {
                                    // window.location.reload();
                                    window.location = `/shipping-detail/${response.id}`;

                                }, 1000);
                            }
                            else {
                                toastr.error(response.message);
                                window.setTimeout(function () {
                                    window.location.reload();
                                }, 1000);
                            }
                        },
                        error: function (response) {
                            let errorResponse = JSON.parse(response.responseText)
                            toastr.remove();
                            toastr.error(errorResponse.message);
                        }
                    });
                });
            </script>