<%- include('header') %>

    <!-- mid-part start -->
    <div class="main-panel">
        <div class="contentright w-auto">
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-md-10">
                        <div class="d-flex">
                            <div class="tableheading ">
                                <h3>Shipment Detail <small class="text-primary">(<%= shipmentData.shipment_id %>)</small></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="searchbox float-right">
                            <div class="form-group has-search">
                                <a href="/shipment" class="btn btn-dark mt-2">Back</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card position-relative p-3">
                            <div class="card-body">
                                <!-- Start -->

                                <div class="row form-inline-custom">
                                    <div class="col-md-4">
                                        
                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">User Name:</label>
                                            <label class="col-md-7 detail_value">
                                                <%= shipmentData.user_name %>
                                            </label>
                                        </div>


                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Shipment Type:</label>
                                            <label class="col-md-7 detail_value font-weight-bold">
                                                <%= shipmentData.shipment_type %>
                                            </label>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Shipment Status:</label>
                                            <label class="col-md-7 detail_value font-weight-bold">
                                                <%= shipmentData.status_text %>
                                            </label>
                                        </div>


                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Commodity:</label>
                                            <label class="col-md-7 detail_value font-weight-bold">
                                                <%= `${shipmentData.commodity_name}(${shipmentData.quantity})` %>
                                            </label>
                                        </div>

                                        
                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Created At:</label>
                                            <label class="col-md-7 detail_value">
                                                <%= shipmentData.created_at %>
                                            </label>
                                        </div>

                                        <% if(shipmentData.status==3 && shipmentData.shipment_type==8) { %>
                                            <div class="form-group col-md-12">
                                                <label class="col-md-5 detail_label">Download Label:</label>
                                                <% if(shipmentData.label_file_url){ %>
                                                    <a href="<%= shipmentData.label_file_url %>" target="_blank"
                                                        rel="noopener noreferrer"><label
                                                            class="col-md-7 detail_value fa fa-download"
                                                            style="font-weight: 600;"></label></a>
                                                    <% }else{ %>
                                                        N/A
                                                        <% } %>
                                            </div>
                                            <% } %>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Package Length:</label>
                                            <label class="col-md-7 detail_value">
                                                <%= `${shipmentData.packageLength} ${shipmentData.packageUnit}` %>
                                            </label>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Package Width:</label>
                                            <label class="col-md-7 detail_value">
                                                <%= `${shipmentData.packageWidth} ${shipmentData.packageUnit}` %>
                                            </label>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Package Height:</label>
                                            <label class="col-md-7 detail_value">
                                                <%= `${shipmentData.packageHeight} ${shipmentData.packageUnit}` %>
                                            </label>
                                        </div>





                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Package Weight:</label>
                                            <label class="col-md-7 detail_value">
                                                <%= shipmentData.pkg_weight %>
                                            </label>
                                        </div>



                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Tracking URL:</label>
                                            <label class="col-md-7 detail_value">
                                                <% if(shipmentData.tracking_url){ %>
                                                    <a href="<%= shipmentData.tracking_url %>" class="text-info"
                                                        target="_blank" rel="noopener noreferrer">Track Shipment</a>
                                                    <% }else{ %> N/A <% } %>
                                            </label>
                                        </div>


                                    </div>
                                    <div class="col-md-4">

                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Payment Method:</label>
                                            <label class="col-md-7 detail_value">
                                                <%= shipmentData.payment_method %>
                                            </label>
                                        </div>




                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Shipment Charge:</label>
                                            <label class="col-md-7 detail_value">
                                                <%= shipmentData.shipment_charge %>
                                            </label>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Processing Fee:</label>
                                            <label class="col-md-7 detail_value">
                                                <%= shipmentData.processing_fee %>
                                            </label>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Admin Brokerage:</label>
                                            <label class="col-md-7 detail_value">
                                                <%= shipmentData.admin_brokerage %>
                                            </label>
                                        </div>


                                        <div class="form-group col-md-12">
                                            <label class="col-md-5 detail_label">Total Amount:</label>
                                            <label class="col-md-7 detail_value">
                                                <%= shipmentData.total_amount %>
                                            </label>
                                        </div>


                                    </div>
                                </div>

                                <!-- End -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer section start -->
        <%- include('footer') %>