<%- include ( "header" ) %>

<div class="main-panel">
	<div class="content-wrapper">
		<div class="row">
			<div class="col-md-6 mb-4 stretch-card transparent flex-column">
				<div class="card <%= colorArr[1] %>">
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead></thead>
							<tbody>
								<tr>
									<th scope="col">Number of Users</th>
									<th scope="col"><%= userLength%></th>
								</tr>
								<tr>
									<th scope="col">Total Profit</th>
									<th scope="col">
										<%= totalProfit[0].total == null ? 0 :
										totalProfit[0].total %> USD
									</th>
								</tr>
								<tr>
									<th scope="col">Gold app vault</th>
									<th scope="col">0.00 USD</th>
								</tr>
								<tr>
									<th scope="col">User vault</th>
									<th scope="col">0.00 USD</th>
								</tr>
									<!-- <tr>
									<td>Total stripe collected/paid out</td>
									<td></td>
								</tr> -->
								<tr>
									<th scope="col">Total vault fees collected</td>
									<th scope="col">
										<%= totalProfit[0].total == null ? 0 :
										totalProfit[0].total %> USD
									</td>
								</tr>
								<tr>
									<th scope="col">Total gold app fees collected</td>
									<th scope="col">
										<%= totalProfit[0].total == null ? 0 :
										totalProfit[0].total %> USD
									</td>
								</tr>
								<tr>
									<th scope="col">&nbsp;</td>
									<th scope="col">&nbsp;</td>
								</tr>
								<tr>
									<th scope="col">&nbsp;</td>
									<th scope="col">&nbsp;</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<% for( let i = 0; i < saleAndPurchaseCommodities.length; i++ ) { %>
			<div class="col-md-6 mb-4 stretch-card transparent">
				<div class="card <%= colorArr[i] %>">
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<th
									scope="row"
									style="text-align: center"
									colspan="3"
								>
									<%= saleAndPurchaseCommodities[i].name %>
								</th>

								<tr>
									<td></td>
									<td>Total cash</td>
									<td>Total weight</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										Total <%=
										saleAndPurchaseCommodities[i].name %>
										bought by users
									</td>
									<td>
										<%=
										saleAndPurchaseCommodities[i].purchase_commodity
										%>
									</td>
									<td>
										<%=
										(saleAndPurchaseCommodities[i].purchase_commodity/
										saleAndPurchaseCommodities[i].rate_per_gram).toFixed(3)
										%> grams
									</td>
								</tr>
								<tr>
									<td>
										Total <%=
										saleAndPurchaseCommodities[i].name %>
										sold by users
									</td>
									<td>
										<%=
										saleAndPurchaseCommodities[i].sale_commodity
										%>
									</td>
									<td>
										<%=
										(saleAndPurchaseCommodities[i].sale_commodity/
										saleAndPurchaseCommodities[i].rate_per_gram).toFixed(3)
										%> grams
									</td>
								</tr>
								<tr>
									<td>Buy|Sell difference (spread)</td>
									<td>
										<%=
										saleAndPurchaseCommodities[i].purchase_commodity
										-
										saleAndPurchaseCommodities[i].sale_commodity
										%>
									</td>
									<td>
										<%=
										((saleAndPurchaseCommodities[i].purchase_commodity
										-
										saleAndPurchaseCommodities[i].sale_commodity)/
										saleAndPurchaseCommodities[i].rate_per_gram).toFixed(3)
										%> grams
									</td>
								</tr>
								<tr>
									<td>
										<%= saleAndPurchaseCommodities[i].name
										%> to be shipped
									</td>
									<td><%= (shippingData[i].quantityToBeShipped*saleAndPurchaseCommodities[i].rate_per_gram).toFixed(3) %></td>
                  <td><%= shippingData[i].quantityToBeShipped %></td>
								</tr>
								<tr>
									<td>
										<%= saleAndPurchaseCommodities[i].name
										%> received
									</td>
									<td><%= (shippingData[i].quantityReceived*saleAndPurchaseCommodities[i].rate_per_gram).toFixed(3) %></td>
									<td><%= shippingData[i].quantityReceived %></td>
								</tr>
								<tr>
                  <td>Total shipping collected</td>
                  <td><%= (shippingData[i].quantityToBeShipped*saleAndPurchaseCommodities[i].rate_per_gram + shippingData[i].quantityReceived*saleAndPurchaseCommodities[i].rate_per_gram).toFixed(3) %></td>
                  <td><%= shippingData[i].quantityToBeShipped+shippingData[i].quantityReceived %></td>
								</tr>
							
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<% } %>
		</div>
	</div>
	<!-- content-wrapper ends -->

	<%- include ( "footer" ) %>
</div>
