<%- include ( "header" ) %>

  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        
        <div class="col-md-3 mb-4 stretch-card transparent">
          <div class="card card-tale">
            <div class="card-light-blue">
              <div class="card-body"> <a href="/users">
                  <p class="mb-4">Users</p>
                  <p class="fs-30 mb-2">
                    <%= userLength%>
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
        
        <% for( let i = 0; i < saleAndPurchaseCommodities.length; i++ ) { %>
          <div class="col-md-3 mb-4 stretch-card transparent">
            <div class="card <%= colorArr[i] %>">
              <div class="">
                <div class="card-body"> <a href="javascript:void(0)">
                    <p class="mb-4"><%= saleAndPurchaseCommodities[i].name %></p>
                    <p class="fs-20 mb-2">
                      Sold:- <%= saleAndPurchaseCommodities[i].sale_commodity %> Gram
                    </p>
                    <p class="fs-20 mb-2">
                      Bought:- <%= saleAndPurchaseCommodities[i].purchase_commodity %> Gram
                    </p>
                    <p class="fs-20 mb-2">
                      Profit:- <%= saleAndPurchaseCommodities[i].commodity_profit %> USD
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <% } %>
     
        <div class="col-md-3 mb-4 stretch-card transparent">
          <div class="card card-tale">
            <div class="card-light-blue">
              <div class="card-body"> <a href="javascript:void(0)">
                  <p class="mb-4">Total Profit</p>
                  <p class="fs-30 mb-2">
                    <%= totalProfit[0].total == null ? 0 : totalProfit[0].total %> USD
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>

  <!-- content-wrapper ends -->

  <%- include ( "footer" ) %>