<%- include('header') %>

    <style>
        .proImgList img {
            height: 122px;
            object-fit: cover;
        }

        .commodity_div{
            background: #efefef;
            border-radius: 20px;
        }
        .image_div{
            background: #fff;
            width: 90px;
            height: 90px;
            margin: 10px auto;
            border-radius: 60%;
            text-align: center;
        }

        .image_div img{
            margin-top: 18px;
            width: 70px;
        }

        .commodity_name{
            font-weight: 600;
            text-align: center;
            font-size: 16px;
            color: #3a3a3a;
        }

        .commodity_price_div{
            text-align: center;
            color: #5a5a5a;
        }

        .commodity_quantity{
            color: #ff8d00;
        }
    </style>

    <!-- mid-part start -->
    <div class="main-panel">
        <div class="contentright w-auto">
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-md-10">
                        <div class="d-flex">
                            <div class="tableheading ">
                                <h3>User Detail</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="searchbox float-right">
                            <div class="form-group has-search">
                                <a href="/users" class="btn btn-dark mt-2">Back</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="card position-relative">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3 col-xs-12" style="margin: 0 auto; margin-top: -63px;">
                                        <div class="col-md-12 user_detail_profile_image text-center">
                                            <img src="<%= userData[0].profile_img %>" data-fancybox alt="user">
                                        </div>
                                        <div class="col-md-12 detail_user_name text-center">
                                            <%= userData[0].fullname %>
                                        </div>
                                        <div class="col-md-12 detail_user_email text-center">
                                            <%= userData[0].email %>
                                        </div>
                                    </div>
                                    <hr style="width: 100%;">
                                    <div class="col-md-12 col-xs-12 p-0">
                                        <div class="form-inline-custom">
                                            <div class="form-group col-md-4 col-xs-12">
                                                <label class="col-md-5 detail_label">Contact</label>
                                                <label class="col-md-7 detail_value">
                                                    <%= userData[0].contact %>
                                                </label>
                                            </div>

                                            <!-- <div class="form-group col-md-4 col-xs-12">
                                                <label class="col-md-5 detail_label">Email</label>
                                                <label class="col-md-7 detail_value"><%= userData[0].email %>
                                                </label>
                                            </div>

                                            <div class="form-group col-md-4 col-xs-12">
                                                <label class="col-md-5 detail_label">Name</label>
                                                <label class="col-md-7 detail_value"><%= userData[0].fullname %></label>
                                            </div> -->

                                            <div class="form-group col-md-4 col-xs-12">
                                                <label class="col-md-5 detail_label">DOB</label>
                                                <label class="col-md-7 detail_value">
                                                    <%= userData[0].dob %>
                                                </label>
                                            </div>

                                            <div class="form-group col-md-4 col-xs-12">
                                                <label class="col-md-5 detail_label">Age</label>
                                                <label class="col-md-7 detail_value">
                                                    <%= userData[0].age %> yr
                                                </label>
                                            </div>

                                            <div class="form-group col-md-4 col-xs-12">
                                                <label class="col-md-5 detail_label">Signup type</label>
                                                <label class="col-md-7 detail_value">
                                                    <%= userData[0].signup_type %>
                                                </label>
                                            </div>
                                            <% if(userData[0].signup_type=='Social' ){ %>
                                                <div class="form-group col-md-4 col-xs-12">
                                                    <label class="col-md-5 detail_label"> Social Profile </label>
                                                    <label class="col-md-7 detail_value">
                                                        <%= userData[0].social_type %>
                                                    </label>
                                                </div>
                                            <% } %>
                                            <div class="form-group col-md-4 col-xs-12">
                                                <label class="col-md-5 detail_label">Joined At</label>
                                                <label class="col-md-7 detail_value">
                                                    <%= userData[0].joined_at %>
                                                </label>
                                            </div>
                                            
                                            <div class="form-group col-md-4 col-xs-12">
                                                <label class="col-md-5 detail_label">Total Cash</label>
                                                <label class="col-md-7 detail_value" style="font-weight: 600;">
                                                    <%= commodityData.user_cash %>
                                                </label>
                                            </div>

                                            <div class="form-group col-md-4 col-xs-12">
                                                <label class="col-md-5 detail_label">Commodity Value</label>
                                                <label class="col-md-7 detail_value" style="font-weight: 600;">
                                                    <%= commodityData.commodity_value %>

                                                </label>
                                            </div>
                                            <% for(let i=0; i<userData.length; i++){ %>
                                                <div class="form-group col-md-4 col-xs-12">
                                                    <label class="col-md-5 detail_label">
                                                        <% if(userData[i].address_type==1){ %> Address<% } %>
                                                        <% if(userData[i].address_type==2) { %> Shipping Address<% } %>
                                                    </label>
                                                    <label class="col-md-7 detail_value" title="<%= userData[i].uaddress %>">
                                                        <%= userData[i].uaddress %>
                                                    </label>
                                                </div>
                                                <% } %>

                                                
                                        </div>
                                    </div>
                                </div>

                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="nav nav-tabs">
                                            <li><a class="nav-link active" data-toggle="tab" href="#menu1">Commodity </a></li>
                                            <li><a class="nav-link" data-toggle="tab" href="#menu2">Transaction <span
                                                        class="tab_counter like_request_count">0</span></a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <div id="menu1" class="tab-pane fade active show">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <% for(let index = 0;index<commodityData.commodities.length; index++) { %>
                                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                                            <div class="col-md-12 p-0 commodity_div">
                                                            <div class="image_div"><img src="<%= commodityData.commodities[index].icon_image %>" alt=""></div>

                                                            <div class="col-md-12">
                                                                <p class="commodity_name"> <%= commodityData.commodities[index].name %> </p>
                                                                <p class="commodity_price_div"><span class="commodity_quantity"><%= commodityData.commodities[index].total_quantity %></span> | <span>Price <%= commodityData.commodities[index].price %></span></p>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="menu2" class="tab-pane fade">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-bordered"
                                                                id="user_transaction_table">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">S.NO.</th>
                                                                        <th scope="col">Transaction Type</th>
                                                                        <th scope="col">Description </th>
                                                                        <th scope="col">Amount</th>
                                                                        <th scope="col">Date</th>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- footer section start -->
    <%- include('footer') %>

        <script>

            $(document).ready(function () {
                var oTable = $('#user_transaction_table').DataTable({
                    columnDefs: [
                    {
                        targets: 2,
                        orderable: false,
                        render: function(data, type, row) {
                        if ( type === 'display') {
                            return $.fn.dataTable.render.ellipsis(50)(data, type, row);          
                        }
                        return data;
                        }
                    }],
                    order: [[4, 'desc']],
                    'paging': true,
                    'searching': true,
                    'processing': true,
                    'serverSide': true,
                    "autoWidth": false,
                    'serverMethod': 'post',
                    'ajax': {
                        'url': '/user-transection-list',
                        'data': { user_id: '<%= userData[0].id %>' },
                        complete: function (data) {
                            $('.like_request_count').text(data.responseJSON.iTotalRecords)
                        },
                    },
                    'columns': [
                        { data: 's_no' },
                        { data: 'transaction_type' },
                        { data: 'transaction_desc' },
                        { data: 'transaction_ammount' },
                        { data: 'transaction_date' }
                    ]
                });

            });




        </script>